<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit team <%= name %></h1>
    <hr>
    <form action="/team/update" method="GET">
      <input type="number" name="n" id="n" value="n" placeholder=<%= id %> disabled>
      <input type="hidden" id="id" name="id" value= <%= id %> placeholder=<%= name %>>
      <input type="text" name="name" placeholder="New name">

      <p>Remove selected pokemon:</p>
      <% for(var i=0; i < data.length; i++) { %>
        
        <p>
        <input type="checkbox" name= <%= data[i].pokeid %> id= <%= data[i].pokeid %> value=<%= data[i].pokeid %> >
        <label for=<%= data[i].pokeid %>><%= data[i].pokeid %></label>
        </p>

      <% } %>

      <button type="submit">Update</button>
    </form>

    <p> <a href="/team/list">Back to list</a></p>
    <p> <a href="/">Home</a></p>
  </body>
</html>