<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Team list</h1>
    <hr>
    <table>
      <% var c=0 %>
      <% var base_exp=0 %>
      <% var k=0 %>
      <tr>
        <% for(var i=0; i < data.length; i++) { %>
          
            <% if (i==0) {%> 
              <td>Team: </td>
              <td><b><%= data[i].name %></b></td>
              <td> <a href=<%= data[i].id+"/edit" %>>Edit </a></td>
            <%} else { %>     
              <% if (data[i].id!=data[i-1].id) {%>
                <td>Tot exp: <%= base_exp%></td>
                <td><b>Types: </b>
                  <% for(var j=0; j < pokeType.type[k].length; j++) { %>
                    <%= pokeType.type[k][j]%>
                  <% } %>
                  <% k+=1 %>
                </td>
                </tr><tr>
                <% base_exp=0%>
                <td>Team: </td>
                <td><b><%= data[i].name %></b></td>
                <td> <a href=<%= data[i].id+"/edit" %>>Edit </a></td>
              <% } %> 

            <% } %> 
            <td><img src= <%= pokeData.pokemons[i].sprites.front_default %> ></img> </td>
            <% base_exp=base_exp+pokeData.pokemons[i].base_experience%>
            <% c++ %>
        
          
        <% } %>
        <% if (data.length>0) {%>
          <td><b>Tot exp:</b> <%= base_exp %></td>
          <td><b>Types: </b>
            <% for(var j=0; j < pokeType.type[k].length; j++) { %>
              <%= pokeType.type[k][j]%>
            <% } %>
          </td>
        <% } %>

      </tr>
      <% if(c==0) { %>
        <tr>
          <td>No teams created</td>
        </tr>
      <% } else {%>

        <form action="/team/list" method="GET">
      
          <input type="text" id="filter" name="filter" placeholder="Filter by type">
          
          <button type="submit">Filter</button>
        </form>

      <% } %>
    </table>

    <p> <a href="/">Home</a></p>
  </body>
</html>
